@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 30px;
  background-color: black;
  color: #fff;
}
.header .fa {
  margin-right: 10px;
  color: rgb(224, 139, 11);
}
.header-icon {
  display: flex;
  align-items: center;
}
/* navbar start */

.navbar-container {
  background-color: #d1e3ff;
}

.navMenu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}
.nav-title {
  color: #0355cc;
}
.navbar-items {
  display: flex;
}
.navbar-items li a {
  color: #1f1d1d;
  text-decoration: none;
  align-items: center;
  margin-right: 50px;
  font-size: 20px;
}
.navbar-items li {
  list-style: none;
}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px;
}
.navbar-content h1 {
  font-size: 40px;
  color: #0355cc;
  /* font-family: "Inter", sans-serif; */
}
.navbar-content p {
  font-size: 16px;
  color: #121314;
  padding: 10px 0px 15px 0px;
}
.nav-btn {
  width: 180px;
  background-color: rgb(248, 151, 6);
  color: #fff;
  border: none;
  padding: 16px;
  border-radius: 7px;
  font-weight: bold;
}
.navImg {
  width: 550px;
}

/* services */
.services-container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.services {
  width: 30%;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .fa {
  font-size: 100px;
  margin-bottom: 10px;
  color: #b28fe0;
}
.improve {
  background-color: #ff8a1d;
}

/* about us
 */
.flexStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.flexStyle p {
  padding: 40px 50px 40px 0px;
}

/* profeesinal service */

.professional-service {
  background-color: #d1e3ff;
}
.profImg {
  padding: 20px 80px 20px 0px;
}

/* service 2 */
.services-title {
  text-align: center;
  font-size: 50px;
}
.service2 {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.service2 p {
  text-align: center;
  padding: 10px;
}
.service2 i {
  font-size: 70px !important;
}
.btn {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.service2-btn {
  width: 180px;
  background-color: rgb(6, 50, 248);
  color: #fff;
  border: none;
  padding: 16px;
  border-radius: 7px;
  font-weight: bold;
}

@media (max-width: 858px) {
  .navbar-content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .nav-btn {
    margin-bottom: 30px;
  }
  .services-container,
  .service2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .services {
    width: 90%;
    height: 200px;
    display: flex;
  }
}
